$lightblue: #76C7C1;
$greyblue: #5DA29C;
$pink: #E76558;
$darkpink:#E05444;
$fontgrey: #B1BCB8;
body {
  background-color:#F4F4F4;
}

.navbar {
  background-color: $lightblue;
  height:60px;
  padding-top:4px;
  margin-bottom:0px;
  .navbar-header a{
    color:white;
  }
  .navbar-brand {
    letter-spacing:1px;
  }
}

.nav.navbar-nav.navbar-right li a, {
    color: white;
    padding:9px 10px;
    margin: 5px 12px;;
    &:hover {
      background-color: $greyblue;
      border-radius:5px;

    }
}

.jumbotron {
  text-align:center;
  background:url('photos/newyork.jpg') no-repeat center center;
  background-size:cover;
  height:400px;
  padding-top:140px;


  #feature {
    font-size:35px;
    color:white;
    background-color:$pink;
    font-weight:bolder;
    padding:0px 8px;
    text-decoration:none;
    letter-spacing:1px;
  }

  #supporting {
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    width:400px;
    margin: 0 auto;
    border-radius:5px;
    font-size:15px;
    padding:9px 20px;
    margin-top:3px;
  }
}

.service-info {
  padding:5px 25px;
  background-color: #ECECEC;
  .col-md-3 {
    height:80px;
    text-align:right;
    padding-top:30px;
  }
 h4 {
   font-size:26px;
   color: $fontgrey;
 }
 a {
   background-color: $pink;
   color:white;
   padding: 13px 35px;
   display:inline;
   border-radius:5px;
   text-decoration:none;
   &:hover {
     background-color: $darkpink;
   }
 }
}

.service-panels {

  img {
    height:60px;
    display:block;
      margin: 0 auto;

  }
}
